@model EducacionalAPIConexaoDB.Models.Turma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerieTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerieTurma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LetraTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LetraTurma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TurmaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
